<div class="card-type-container">
    <img class="card-copa-top left" src="assets/images/copa.png"/>
    <img class="card-copa-top right" src="assets/images/copa.png"/>
    <img class="card-copa-middle top" src="assets/images/copa.png"/>
    <img class="card-copa-middle left" src="assets/images/copa.png"/>
    <img class="card-copa-middle right" src="assets/images/copa.png"/>
    <img class="card-copa-bottom left" src="assets/images/copa.png"/> 
    <img class="card-copa-bottom right" src="assets/images/copa.png"/> 
</div>
