.card-type-container{
    position: absolute;
    left:10px;
    top:25px;
    right:10px;
    bottom: 25px;
}
.card-top{
    position: absolute;
    height:33%;
}
.card-bottom{
    position: absolute;
    height:33%;
    bottom: 0;
}
.left{
    left: 0;
}
.right{
    right: 0;
}
.card-middle{
    position: absolute;
    height:33%;
    top: 34%;
}
.top{
    top:20%;
    left:31%
}

.top-left{
    height:42%;
}
.top-middle{
    height:42%;
    left:35%;
    transform: rotate(180deg);
}
.top-right{
    height:45%;
    left:60%;
}
.bottom-left{
    height:42%;
    transform: rotate(180deg);
    left: 3%;
}
.bottom-middle{
    height:42%;
    left:28%;
}
.bottom-right{
    height:42%;
    left:63%;
    transform: rotate(180deg);
}
.middle{
    height: 20%;
    left: 10%;
    top:40%;
}


.top-left2{
    height:45%;
    left:10%;
}
.top-middle2{
    height:45%;
    left:37%;
}
.top-right2{
    height:45%;
    left:64%;
}
.bottom-left2{
    height:45%;
    transform: rotate(180deg);
    left: 11%;
}
.bottom-middle2{
    height:45%;
    left:38%;
    transform: rotate(180deg);
}
.bottom-right2{
    height:45%;
    left:65%;
    transform: rotate(180deg);
}

.middle2{
    height: 40%;
    left: 40%;
    top:30%;
    transform: rotate(90deg);
}