.card-type-container{
    position: absolute;
    left:10px;
    top:25px;
    right:10px;
    bottom: 25px;
}
.card-top{
    position: absolute;
    height:40%;
}
.card-bottom{
    position: absolute;
    height:40%;
    bottom: 0;
}
.left{
    left: 0;
}
.right{
    right: 0;
}
.rotate-top-left{
    height:45%;
    left:10px;
    transform: rotate(-26deg);
}
.rotate-top-right{
    height:45%;
    right:10px;
    transform: rotate(26deg);
}
.rotate-bottom-left{
    height:45%;
    left:10px;
    transform: rotate(-156deg);
}
.rotate-bottom-right{
    height:45%;
    right:10px;
    transform: rotate(156deg);
}