<div class="table-container">
    <div class="table-container-internal">
        <!--
        <div *ngFor="let card of cards">
            <app-frontcard number="{{card.number}}" type="{{card.type}}"></app-frontcard>
        </div>
        -->

        <div class="middle-space">
            <!--CUATRO CARTAS EN LA MESA-->
            <div class="absolute table-0-0" *ngIf="table_left_up_card">
                <app-frontcard number="{{table_left_up_card.number}}" type="{{table_left_up_card.type}}"></app-frontcard>
            </div>
            <div class="absolute table-0-1" *ngIf="table_right_up_card">
                <app-frontcard number="{{table_right_up_card.number}}" type="{{table_right_up_card.type}}"></app-frontcard>
            </div>
            <div class="absolute table-1-0" *ngIf="table_left_down_card">
                <app-frontcard number="{{table_left_down_card.number}}" type="{{table_left_down_card.type}}"></app-frontcard>
            </div>
            <div class="absolute table-1-1" *ngIf="table_right_down_card">
                <app-frontcard number="{{table_right_down_card.number}}" type="{{table_right_down_card.type}}"></app-frontcard>
            </div>
            <!--CUATRO CARTAS EN LA MESA-->

            <!--CARTAS RESTANTES-->
            <div class="absolute carta-restante" *ngIf="cardsremain.length > 0" style="transform: rotate(90deg);">
                <app-backcard *ngFor="let card of cardsremain"></app-backcard>
            </div>
            <!--CARTAS RESTANTES-->

            <!--CARTA TIRADA-->
            <div class="absolute carta-tirada" *ngIf="current_card" style="transform: rotate(-10deg);">
                <app-frontcard number="7" type="oro"></app-frontcard>
            </div>
            <!--CARTA TIRADA-->
        </div>

        <div class="bottom-space">
            <div class="absolute hand card-me-1" *ngFor="table_card_me_1">
                <app-frontcard number="5" type="copa"></app-frontcard>
            </div>
            <div class="absolute hand card-me-2" *ngFor="table_card_me_2">
                <app-frontcard number="3" type="oro"></app-frontcard>
            </div>
            <div class="absolute hand card-me-3" *ngFor="table_card_me_3">
                <app-frontcard number="10" type="espada"></app-frontcard>
            </div>
        </div>
    </div>
</div>