<div class="table-container">
    <div>
        <app-frontcard number="1" type="copa"></app-frontcard>
        <app-frontcard number="2" type="copa"></app-frontcard>
        <app-frontcard number="3" type="copa"></app-frontcard>
        <app-frontcard number="4" type="copa"></app-frontcard>
        <app-frontcard number="5" type="copa"></app-frontcard>
        <app-frontcard number="6" type="copa"></app-frontcard>
        <app-frontcard number="7" type="copa"></app-frontcard>
        <app-frontcard number="10" type="copa"></app-frontcard>
        <app-frontcard number="11" type="copa"></app-frontcard>
        <app-frontcard number="12" type="copa"></app-frontcard>
    </div>
    <div>
        <app-frontcard number="1" type="oro"></app-frontcard>
        <app-frontcard number="2" type="oro"></app-frontcard>
        <app-frontcard number="3" type="oro"></app-frontcard>
        <app-frontcard number="4" type="oro"></app-frontcard>
        <app-frontcard number="5" type="oro"></app-frontcard>
        <app-frontcard number="6" type="oro"></app-frontcard>
        <app-frontcard number="7" type="oro"></app-frontcard>
        <app-frontcard number="10" type="oro"></app-frontcard>
        <app-frontcard number="11" type="oro"></app-frontcard>
        <app-frontcard number="12" type="oro"></app-frontcard>
    </div>
    <div>
        <app-frontcard number="1" type="basto"></app-frontcard>
        <app-frontcard number="2" type="basto"></app-frontcard>
        <app-frontcard number="3" type="basto"></app-frontcard>
        <app-frontcard number="4" type="basto"></app-frontcard>
        <app-frontcard number="5" type="basto"></app-frontcard>
        <app-frontcard number="6" type="basto"></app-frontcard>
        <app-frontcard number="7" type="basto"></app-frontcard>
        <app-frontcard number="10" type="basto"></app-frontcard>
        <app-frontcard number="11" type="basto"></app-frontcard>
        <app-frontcard number="12" type="basto"></app-frontcard>
    </div>
    <div>
        <app-frontcard number="1" type="espada"></app-frontcard>
        <app-frontcard number="2" type="espada"></app-frontcard>
        <app-frontcard number="3" type="espada"></app-frontcard>
        <app-frontcard number="4" type="espada"></app-frontcard>
        <app-frontcard number="5" type="espada"></app-frontcard>
        <app-frontcard number="6" type="espada"></app-frontcard>
        <app-frontcard number="7" type="espada"></app-frontcard>
        <app-frontcard number="10" type="espada"></app-frontcard>
        <app-frontcard number="11" type="espada"></app-frontcard>
        <app-frontcard number="12" type="espada"></app-frontcard>
    </div>
</div>