.table-container{
    background-color: green;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin:10px;
    border:solid 40px brown;
}
.table-container-internal{
    position: relative;
}
.bottom-space{
    padding:16px;
    width:600px;
    height:270px;
    border-radius: 10px;
    position: relative;
    margin:auto;
    margin-top:100px;
}

.middle-space{
    padding:16px;
    width:800px;
    height:550px;
    border-radius: 10px;
    border:solid 3px #EEE;
    position: relative;
    margin:auto;
}

.absolute{
    position:absolute;
}

.hand:hover{
    cursor: pointer;
}

.table-0-0{
    left:10px;
}
.table-0-1{
    left:200px;
}
.table-1-0{
    left:10px;
    top:300px;
}
.table-1-1{
    left:200px;
    top:300px;
}
.carta-restante{
    left:740px;
    top:20px;
}
.carta-tirada{
    left:500px;
    top:250px;
}
.card-me-1{
    left:10px;
    transform: rotate(-10deg);
    top:40px;
}
.card-me-2{
    left:150px;
}
.card-me-3{
    left:300px;
    transform: rotate(10deg);
}