.table-container{
    background-color: green;
    border-radius: 50px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin:10px;
    border:solid 40px brown;
}
.table-container-internal{
    position: relative;
}