.card-container {
    border: solid 1px #EEE;
    border-radius: 10px;
    width: 120pt;
    height: 200pt;
    background-color: white;
    box-shadow: 0 2px 6px #333;
    position: absolute;
}
.card-internal-border{
    border: solid 1px black;
    position: absolute;
    left:10px;
    top:10px;
    right:10px;
    bottom: 10px;
}
.card-number-top{
    position: absolute;
    left: 5px;
    top: 5px;
}
.card-number-bottom{
    position: absolute;
    right: 5px;
    bottom: 5px;
    transform: rotate(180deg);
}